.othertopics {
  width: 100%;
  margin: 80px 0;
  text-align: center;
}

.topicsheader {
  padding: 40px 0;
  font-weight: 300;
  font-size: 36px;
  color: #555555;
}

.underline {
  border-bottom: 2px solid #f24b6a;
  width: 30px;
  margin: 10px auto;
}

.cardcontainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: minmax(131px, auto);
  gap: 10px;
}

.card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s;
  height: 150px;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  filter: brightness(120%);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carditems {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.cardItemsTop {
  font-size: 18px;
  font-weight: bold;
}

.cardItemsBottom {
  margin-top: 18px;
  font-size: 12px;
}

.editBox {
  position: absolute;
  top: 3600px;
  left: 50%;
}

.addCirle {
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .topicsheader {
    font-size: 24px;
  }
}

@media screen and (max-width: 550px) {
  .card:nth-child(n + 4) {
    display: none;
  }

  .cardcontainer {
    display: block;
  }

  .carditems {
    left: 7%;
    transform: translate(0, -50%);
  }

  .othertopics {
    margin-bottom: 0;
  }

  .card {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
}

@media screen and (max-width: 500px) {
  .carditems {
    text-align: left;
  }

  .cardItemsBottom {
    margin-top: 10px;
  }

  .card img {
    display: none;
  }
}
