/* section main */
.sectionGrid {
  display: grid;
  grid-gap: 2.5px;
  gap: 2.5px;
  grid-template-columns: repeat(2,200px);
  grid-auto-rows: 280px;
  justify-content: center;
  margin-top: 36px;
  margin-bottom: 50px;
  
}

.card {
  /* background: rgba(0, 0, 0, 0.3); */
  /* background-image: linear-gradient rgba(0, 0, 0, 0.3); */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden;
  width: 100%;
  padding-top: 56.25%; */
}
.name {
  position: absolute;
  bottom: -16px;
  /* transform: translate(-50%, -50%); */
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #6A6A6A;
}

.options {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 36px;
}

.options p {
  margin: 8px 16px;
  width: 62px;
  height: 20px;
  background: #F34C6A;
  border-radius: 5px;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  /* line-height: 12px; */
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.actions button {
  width: 89px;
  height: 35px;
  background: #F34C6A;
  border-radius: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  border: none;
}

/* admin section */
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3rem;
  gap: 50px;
  width: min-content;
}

.navLink {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  padding-left: 10px;
  width: 150%;
}
.navLink a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

.dashboardLink {
  color: #808080;
}

.landingLink {
  color: #F26678;
}

.svrBtn {
padding: 0.5rem 1.5rem;
background: #F35270;
border-radius: 3px;
color: #ffffff;
font-size: 18px;
text-align: center;
border: none;
margin-bottom: 1rem;
margin-right: 22px;
}
.editBtn {
  padding: 0.5rem 3rem;
  background: #898787;;
  border-radius: 3px;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  border: none;
  margin-bottom: 1rem;
  margin-right: 22px;
}

.main {
  justify-self: center;
  margin-left: 20px;
}


/* section main */
@media (min-width: 1100px)
{
  .sectionGrid {
    display: grid;
    /* grid-gap: 14px; */
    gap: 30px;
    grid-template-columns: repeat(4,200px);
    grid-auto-rows: 280px;
    /* justify-content: center; */
    margin: 100px;
    z-index: 0;
    width: 100%;
    margin: 0 auto;
  }

  .actions {
    margin-bottom: 25px;
  }
  
}

