.wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    padding: 20px;  
}

.icon {
    width: 50px;
}

.text {
    color: #787878;
    font-size: 14px;
    line-height: 18px;
    padding-left: 30px;
    width: 173px;
}

@media (min-width: 1100px) {
    .wrapper {
        display: flex;
        justify-content: space-evenly;
    }   

    .icon {
        width: 67px;
    }

    .text{
        font-size: 18px;
        line-height: 22px;
        width: 300px;
    }
}