.wrapper {
    z-index: 10;
    width: 290px;
    height: 388px;
    background-color: #f8f8f8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.container {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.header {
    color: #727272;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #e4e4e4;
    padding: 20px 0;
}

.fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.fields label {
    display: grid;
    align-items: center;
   font-size: 14px;
   color: #5f5e5e;
   font-weight: 600;
   grid-template-columns: repeat(2,1fr);
}

.fields label input {
    width: 132px;
    height: 25px;
    color: #a4a4a4;
    border: none;
}

.fields label input:focus{
    outline: none;
}

.deleteBtn {
    background-color: #F34C6A;
    color: #ffffff;
    padding: 10px 0;
    border: none;
    width: 70%;
    justify-self: center;
}

.buttons {
    margin-top: 17px;
}

.buttons button {
    padding: 10px;
    width: 50%;
    background-color: #f8f8f8;
    border: 1px solid #e4e4e4;
    color: #424242;
    font-size: 14px;
}