.wrapper {
    width: 355px;
    height: 432px;
    background-color: #f8f8f8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: relative;
    top: 200px;
    z-index: 100;
}

.container {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.header {
    color: #727272;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #e4e4e4;
    padding: 20px 0;
}

.fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.fields label {
    display: grid;
    align-items: center;
   font-size: 14px;
   color: #5f5e5e;
   font-weight: 600;
   grid-template-columns: repeat(2,1fr);
}

.fields label input {
    width: 132px;
    height: 25px;
    color: #a4a4a4;
    border: none;
}

.fields label input:focus{
    outline: none;
}

.editBtn {
    background-color: #858585;
    color: #ffffff;
    padding: 10px 0;
    border: none;
    width: 70%;
    justify-self: center;
}

.buttons {
    margin-top: 17px;
}

.buttons button {
    padding: 10px;
    width: 50%;
    background-color: #f8f8f8;
    border: 1px solid #e4e4e4;
    color: #424242;
    font-size: 14px;
}

.icon_text {
    text-align: center;
    padding: 0.5rem;
  }
  .icon_text span {
    color: #727272;
    font-size: 12px;
  }

  /* Upload file button */
.upload_btn_wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-right: 180px;
  }
  
  .btn {
    border: none;
    outline: none;
    color: gray;
    background-color: white;
    padding: 6px 10px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
  }
  
  .upload_btn_wrapper input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }