.jvectormap-zoomin,
.jvectormap-zoomout {
  display: none;
}
  
.jvectormap-container {
  width: 350px;
  height:400px;
  transform: translate(-50%, -65%);
  z-index: -1;
  margin-top: 30px;
  background-attachment: fixed;
  min-height: 450px;
  z-index: -1;
  position: fixed;
}

/* .map {
  margin-top: 50px;
  
} */
.jvectormap-marker {
  stroke: rgba(242, 75, 106, 1);
  fill: #f24b6a;
}

.pulse {
  animation: pulseMarker 2s infinite;
}

@-webkit-keyframes pulseMarker {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(242, 75, 106, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(242, 75, 106, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(242, 75, 106, 0);
  }
}

@keyframes pulseMarker {
  0% {
    stroke-width: 1;
    stroke: rgba(242, 75, 106, 1);
  }
  100% {
    stroke-width: 20;
    stroke: rgba(242, 75, 106, 0);
  }
}
@media(min-width:768px) {
  .jvectormap-container {
    width: 544px;
    transform: translate(-45%, -106%);
    background-attachment: fixed;
    min-height: 450px;
  }
}

@media(min-width:1024px){
  .jvectormap-container{
    width: 744px;
    margin-top: 70px;
    transform: translate(-45%, -106%);
    background-attachment: fixed;
    min-height: 450px;
    z-index: -1;
    position: fixed;
  }
}
@media (min-width:1100px) {
  .jvectormap-container {
    width: 644px;
    transform: translate(-40%, -56%);
    background-attachment: fixed;
    min-height: 450px;
    z-index: -1;
    position: fixed;
  }
  
  /* .jvectormap-zoomin,
  .jvectormap-zoomout {
    display: none;
  } */
  
  
  .jvectormap-marker:hover {
    animation: none;
  }
  
}
    
  