.wrapper {
    padding-left: 10px;
}
.container {
    width: 250px;
}
.container li {
    list-style-type: none;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    padding: 1.5rem 0;
}

.container a {
    text-decoration: none;
}

.landing {
    background-color: #f34c6a;
}

.section {
    background: #EC5B5B;
}

.service {
    background: #ECB85B;
}

.topic {
    background: #4BC4BE;
}

.other {
    background: #3D96BF;
}

.bottom {
    background: #5B6AEC;
}

.request {
    background: #EC5BA1;
}


