.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1000px;
  /* border: 2px solid green; */
}

@media screen and (max-width: 500px) {
  .container {
    width: 100%;
    top: 54%;
  }
}
